
/*
	Main CSS style
	
	CSS is much nicer then javascript files (usually) but CSS is still a pain,
	as evidenced by this comment below which I wrote last night:
*/

/* I HATE CSS I HATE CSS I HATE CSS I HATE */

body {
	background-color: black;
	color: #C0C0C0;
	font-family: monospace;
	margin: 2em;
}

#bigcontainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 80em;
}

#container {
	border: solid #C0C0C0 1px;
	border-radius: 8px;
	padding: 1em;
}

#box_container {
	margin-left: auto;
	margin-right: auto;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#diagbox_csshell {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#diagnostics_box {
	border: solid #C0C0C0 1px;
	border-radius: 8px;
	padding: 1em;
	margin: 1em;
	
	max-width: 35em;
	min-width: 35em;
	
	min-height: 25em;
	max-height: 25em;
	
	margin-left: auto;
	margin-right: auto;
}

#manufacture_box {
	border: solid #C0C0C0 1px;
	border-radius: 8px;
	padding: 1em;
	margin: 1em;
	
	max-width: 35em;
	min-width: 35em;
	
	min-height: 25em;
	max-height: 25em;
	
	margin-left: auto;
	margin-right: auto;
}

.number {
	color: #F0F0F0;
	font-weight: bold;
}

.header {
	color: #F0F0F0;
	font-weight: bold;
	font-size: 1.2em;
}

#text_log {
	max-height: 10em;
	min-height: 10em;
	background-color: #202020;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	padding-top: 8px;
}

.text_message {
	color: #F0F0F0;
	margin: 0px;
	padding-left: 16px;
	text-shadow: 1px 1px black;
}

.comm_button {
	display: inline;
	padding: 1em;
	/*border: 1px #C0C0C0 solid;
	border-radius: 8px;
	background-color: #808080;*/
	color: black;
	text-shadow: 4px 4px 2px #888;
	user-select: none;
	
	border: 4px #C0C0C0 outset;
	background-color: #C0C0C0;
	border-radius: 8px;
}

.comm_button:hover {
	background-color: #C08080;
	text-shadow: 4px 4px 2px #844;
	border: 4px #C08080 outset;
}
.comm_button:active {
	background-color: #C04040;
	border: 4px #C04040 inset;
	text-shadow: 1px 1px 2px #444;
}

.manu_button {
	display: inline;
	padding: 0.5em 1em 0.5em 1em;
	color: black;
	text-shadow: 4px 4px 2px #888;
	user-select: none;
	
	border: 4px #C0C0C0 outset;
	background-color: #C0C0C0;
	border-radius: 8px;
}

.manu_button:hover {
	background-color: #C0C080;
	text-shadow: 4px 4px 2px #844;
	border: 4px #C0C080 outset;
}
.manu_button:active {
	background-color: #C0C040;
	border: 4px #C0C040 inset;
	text-shadow: 1px 1px 2px #444;
}

.diag_button {
	padding: 0.5em;
	margin-top: 8px;
	border: 2px #D0D0D0 outset;
	user-select: none;
	
	color: black;
	background-color: #C0C0C0;
	font-size: 1em;
	font-family: sans-serif;
	max-width: 8em;
	text-align: center;
}
.diag_button:hover {
	background-color: #C8C8C8;
}
.diag_button:active {
	background-color: #B0B0B0;
	border: 2px #C0C0C0 inset;
}

#comms_button_box {
	padding: 1.5em;
}

#file_listing {
	margin: 1em;
	background-color: #404040;
	color: #00C000;
	text-shadow: 1px 1px black;
	padding: 1em;
	font-size: 11px;
	max-width: 20em;
	
	border: 1px #C0C0C0 solid;
	border-radius: 8px;
}

#probeimg {
	background-image: url(probecore.png);
	background-repeat: no-repeat;
	background-position: center;
	min-width: 128px;
	min-height: 64px;
	max-width: 128px;
	max-height: 64px;
	
	padding-top: 2em;
	padding-bottom: 2em;
	
	margin-left: auto;
	margin-right: auto;
}

.good {
	color: #00F000;
}
.bad {
	color: #F00000;
}
.verygood {
	color: #00FF00;
	font-weight: bold;
}
.verybad {
	color: #FF0000;
	font-weight: bold;
}
.weird {
	color: #FF00FF;
	font-weight: bold;
}
